<a href="https://colab.research.google.com/github/jeevitha16ds/jeevitha16ds/blob/main/ANN_penguin__size.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('penguins_size.csv')# read the file

In [ ]:
data

    species     island  ...  body_mass_g     sex
0    Adelie  Torgersen  ...       3750.0    MALE
1    Adelie  Torgersen  ...       3800.0  FEMALE
2    Adelie  Torgersen  ...       3250.0  FEMALE
3    Adelie  Torgersen  ...          NaN     NaN
4    Adelie  Torgersen  ...       3450.0  FEMALE
..      ...        ...  ...          ...     ...
339  Gentoo     Biscoe  ...          NaN     NaN
340  Gentoo     Biscoe  ...       4850.0  FEMALE
341  Gentoo     Biscoe  ...       5750.0    MALE
342  Gentoo     Biscoe  ...       5200.0  FEMALE
343  Gentoo     Biscoe  ...       5400.0    MALE

[344 rows x 7 columns]

In [ ]:
data.isna().sum()# check missing values

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

In [ ]:
data1=data.fillna(method='ffill')# preprocessing method to fill missing values
data1

    species     island  ...  body_mass_g     sex
0    Adelie  Torgersen  ...       3750.0    MALE
1    Adelie  Torgersen  ...       3800.0  FEMALE
2    Adelie  Torgersen  ...       3250.0  FEMALE
3    Adelie  Torgersen  ...       3250.0  FEMALE
4    Adelie  Torgersen  ...       3450.0  FEMALE
..      ...        ...  ...          ...     ...
339  Gentoo     Biscoe  ...       4925.0  FEMALE
340  Gentoo     Biscoe  ...       4850.0  FEMALE
341  Gentoo     Biscoe  ...       5750.0    MALE
342  Gentoo     Biscoe  ...       5200.0  FEMALE
343  Gentoo     Biscoe  ...       5400.0    MALE

[344 rows x 7 columns]

In [ ]:
data2=data1.copy()
data2

    species     island  ...  body_mass_g     sex
0    Adelie  Torgersen  ...       3750.0    MALE
1    Adelie  Torgersen  ...       3800.0  FEMALE
2    Adelie  Torgersen  ...       3250.0  FEMALE
3    Adelie  Torgersen  ...       3250.0  FEMALE
4    Adelie  Torgersen  ...       3450.0  FEMALE
..      ...        ...  ...          ...     ...
339  Gentoo     Biscoe  ...       4925.0  FEMALE
340  Gentoo     Biscoe  ...       4850.0  FEMALE
341  Gentoo     Biscoe  ...       5750.0    MALE
342  Gentoo     Biscoe  ...       5200.0  FEMALE
343  Gentoo     Biscoe  ...       5400.0    MALE

[344 rows x 7 columns]

In [ ]:
# To convert text data into numerical values
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
data2.species=label.fit_transform(data2.species)
data2.island=label.fit_transform(data2.island)
data2.sex=label.fit_transform(data2.sex)

In [ ]:
data2

     species  island  culmen_length_mm  ...  flipper_length_mm  body_mass_g  sex
0          0       2              39.1  ...              181.0       3750.0    2
1          0       2              39.5  ...              186.0       3800.0    1
2          0       2              40.3  ...              195.0       3250.0    1
3          0       2              40.3  ...              195.0       3250.0    1
4          0       2              36.7  ...              193.0       3450.0    1
..       ...     ...               ...  ...                ...          ...  ...
339        2       0              47.2  ...              214.0       4925.0    1
340        2       0              46.8  ...              215.0       4850.0    1
341        2       0              50.4  ...              222.0       5750.0    2
342        2       0              45.2  ...              212.0       5200.0    1
343        2       0              49.9  ...              213.0       5400.0    2

[344 rows x 7 columns]

In [ ]:
#splitting data into x and y
x=data2.iloc[:,:-1]
y=data2.iloc[:,-1]

In [ ]:
x

     species  island  ...  flipper_length_mm  body_mass_g
0          0       2  ...              181.0       3750.0
1          0       2  ...              186.0       3800.0
2          0       2  ...              195.0       3250.0
3          0       2  ...              195.0       3250.0
4          0       2  ...              193.0       3450.0
..       ...     ...  ...                ...          ...
339        2       0  ...              214.0       4925.0
340        2       0  ...              215.0       4850.0
341        2       0  ...              222.0       5750.0
342        2       0  ...              212.0       5200.0
343        2       0  ...              213.0       5400.0

[344 rows x 6 columns]

In [ ]:
y

0      2
1      1
2      1
3      1
4      1
      ..
339    1
340    1
341    2
342    1
343    2
Name: sex, Length: 344, dtype: int64

In [ ]:
#importing the model
from keras.models import Sequential

In [ ]:
from keras.layers import Dense # To get layers

In [ ]:
model=Sequential()# intialising the model

In [ ]:
model.add(Dense(units=12,input_dim=6, activation ='tanh'))# first layer
model.add(Dense(units=12,activation='tanh'))  # second layer or hidden layer
model.add(Dense(units=1,activation='swish'))#last layer or output layer

In [ ]:
#compiling the model
model.compile(loss='binary_crossentropy',optimizer='sgd',metrics=['accuracy'])

In [ ]:
model.fit(x, y , epochs=150 , batch_size=10 , verbose=1)

Epoch 1/150
35/35 [==============================] - 1s 1ms/step - loss: -6.1058 - accuracy: 0.4448
Epoch 2/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7831 - accuracy: 0.4827
Epoch 3/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7434 - accuracy: 0.4900
Epoch 4/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7432 - accuracy: 0.4875
Epoch 5/150
35/35 [==============================] - 0s 1ms/step - loss: -8.0676 - accuracy: 0.4677
Epoch 6/150
35/35 [==============================] - 0s 1ms/step - loss: -8.1967 - accuracy: 0.4570
Epoch 7/150
35/35 [==============================] - 0s 1ms/step - loss: -7.2323 - accuracy: 0.5233
Epoch 8/150
35/35 [==============================] - 0s 1ms/step - loss: -7.6646 - accuracy: 0.4869
Epoch 9/150
35/35 [==============================] - 0s 1ms/step - loss: -7.5961 - accuracy: 0.4987
Epoch 10/150
35/35 [==============================] - 0s 1ms/step - loss: -8.5973 - accuracy: 0.4293
Epoch 11/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7366 - accuracy: 0.4796
Epoch 12/150
35/35 [==============================] - 0s 1ms/step - loss: -7.9819 - accuracy: 0.4636
Epoch 13/150
35/35 [==============================] - 0s 1ms/step - loss: -8.3521 - accuracy: 0.4442
Epoch 14/150
35/35 [==============================] - 0s 1ms/step - loss: -7.1409 - accuracy: 0.5305
Epoch 15/150
35/35 [==============================] - 0s 1ms/step - loss: -7.3540 - accuracy: 0.5001
Epoch 16/150
35/35 [==============================] - 0s 1ms/step - loss: -8.4244 - accuracy: 0.4467
Epoch 17/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8745 - accuracy: 0.4830
Epoch 18/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8065 - accuracy: 0.4849
Epoch 19/150
35/35 [==============================] - 0s 1ms/step - loss: -7.2527 - accuracy: 0.5184
Epoch 20/150
35/35 [==============================] - 0s 1ms/step - loss: -8.7167 - accuracy: 0.4257
Epoch 21/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8281 - accuracy: 0.4771
Epoch 22/150
35/35 [==============================] - 0s 1ms/step - loss: -8.1676 - accuracy: 0.4622
Epoch 23/150
35/35 [==============================] - 0s 1ms/step - loss: -7.5103 - accuracy: 0.4843
Epoch 24/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7573 - accuracy: 0.4903
Epoch 25/150
35/35 [==============================] - 0s 1ms/step - loss: -7.6788 - accuracy: 0.4869
Epoch 26/150
35/35 [==============================] - 0s 1ms/step - loss: -7.3836 - accuracy: 0.5146
Epoch 27/150
35/35 [==============================] - 0s 1ms/step - loss: -8.1777 - accuracy: 0.4568
Epoch 28/150
35/35 [==============================] - 0s 1ms/step - loss: -7.6411 - accuracy: 0.4873
Epoch 29/150
35/35 [==============================] - 0s 1ms/step - loss: -7.1682 - accuracy: 0.5067
Epoch 30/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7277 - accuracy: 0.4895
Epoch 31/150
35/35 [==============================] - 0s 1ms/step - loss: -8.2047 - accuracy: 0.4595
Epoch 32/150
35/35 [==============================] - 0s 1ms/step - loss: -7.2149 - accuracy: 0.5244
Epoch 33/150
35/35 [==============================] - 0s 1ms/step - loss: -7.9345 - accuracy: 0.4745
Epoch 34/150
35/35 [==============================] - 0s 1ms/step - loss: -7.6277 - accuracy: 0.4991
Epoch 35/150
35/35 [==============================] - 0s 1ms/step - loss: -7.2849 - accuracy: 0.5218
Epoch 36/150
35/35 [==============================] - 0s 1ms/step - loss: -7.2409 - accuracy: 0.5196
Epoch 37/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7701 - accuracy: 0.4799
Epoch 38/150
35/35 [==============================] - 0s 1ms/step - loss: -8.0186 - accuracy: 0.4733
Epoch 39/150
35/35 [==============================] - 0s 1ms/step - loss: -7.9818 - accuracy: 0.4739
Epoch 40/150
35/35 [==============================] - 0s 1ms/step - loss: -8.0602 - accuracy: 0.4711
Epoch 41/150
35/35 [==============================] - 0s 1ms/step - loss: -8.0690 - accuracy: 0.4693
Epoch 42/150
35/35 [==============================] - 0s 1ms/step - loss: -7.3641 - accuracy: 0.5075
Epoch 43/150
35/35 [==============================] - 0s 1ms/step - loss: -7.5565 - accuracy: 0.4896
Epoch 44/150
35/35 [==============================] - 0s 1ms/step - loss: -7.4000 - accuracy: 0.5131
Epoch 45/150
35/35 [==============================] - 0s 1ms/step - loss: -7.6939 - accuracy: 0.4937
Epoch 46/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7138 - accuracy: 0.4926
Epoch 47/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8135 - accuracy: 0.4844
Epoch 48/150
35/35 [==============================] - 0s 1ms/step - loss: -7.6550 - accuracy: 0.4939
Epoch 49/150
35/35 [==============================] - 0s 1ms/step - loss: -7.6274 - accuracy: 0.4923
Epoch 50/150
35/35 [==============================] - 0s 1ms/step - loss: -7.9551 - accuracy: 0.4708
Epoch 51/150
35/35 [==============================] - 0s 1ms/step - loss: -8.1530 - accuracy: 0.4621
Epoch 52/150
35/35 [==============================] - 0s 1ms/step - loss: -7.4332 - accuracy: 0.5081
Epoch 53/150
35/35 [==============================] - 0s 1ms/step - loss: -7.6067 - accuracy: 0.4863
Epoch 54/150
35/35 [==============================] - 0s 1ms/step - loss: -6.8732 - accuracy: 0.5449
Epoch 55/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8154 - accuracy: 0.4861
Epoch 56/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8074 - accuracy: 0.4845
Epoch 57/150
35/35 [==============================] - 0s 1ms/step - loss: -7.5332 - accuracy: 0.5052
Epoch 58/150
35/35 [==============================] - 0s 1ms/step - loss: -7.1693 - accuracy: 0.5272
Epoch 59/150
35/35 [==============================] - 0s 1ms/step - loss: -8.0163 - accuracy: 0.4737
Epoch 60/150
35/35 [==============================] - 0s 1ms/step - loss: -7.5914 - accuracy: 0.4981
Epoch 61/150
35/35 [==============================] - 0s 1ms/step - loss: -8.3521 - accuracy: 0.4498
Epoch 62/150
35/35 [==============================] - 0s 1ms/step - loss: -7.9554 - accuracy: 0.4751
Epoch 63/150
35/35 [==============================] - 0s 1ms/step - loss: -7.4899 - accuracy: 0.5029
Epoch 64/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8314 - accuracy: 0.4840
Epoch 65/150
35/35 [==============================] - 0s 1ms/step - loss: -8.4103 - accuracy: 0.4465
Epoch 66/150
35/35 [==============================] - 0s 1ms/step - loss: -7.2341 - accuracy: 0.5140
Epoch 67/150
35/35 [==============================] - 0s 1ms/step - loss: -7.4466 - accuracy: 0.5021
Epoch 68/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7685 - accuracy: 0.4876
Epoch 69/150
35/35 [==============================] - 0s 1ms/step - loss: -8.2421 - accuracy: 0.4566
Epoch 70/150
35/35 [==============================] - 0s 1ms/step - loss: -8.0511 - accuracy: 0.4572
Epoch 71/150
35/35 [==============================] - 0s 1ms/step - loss: -7.5822 - accuracy: 0.5020
Epoch 72/150
35/35 [==============================] - 0s 1ms/step - loss: -7.4945 - accuracy: 0.5077
Epoch 73/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7940 - accuracy: 0.4881
Epoch 74/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7812 - accuracy: 0.4877
Epoch 75/150
35/35 [==============================] - 0s 1ms/step - loss: -8.0430 - accuracy: 0.4674
Epoch 76/150
35/35 [==============================] - 0s 1ms/step - loss: -7.0735 - accuracy: 0.5332
Epoch 77/150
35/35 [==============================] - 0s 1ms/step - loss: -7.2064 - accuracy: 0.5144
Epoch 78/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7394 - accuracy: 0.4900
Epoch 79/150
35/35 [==============================] - 0s 1ms/step - loss: -7.6131 - accuracy: 0.4902
Epoch 80/150
35/35 [==============================] - 0s 1ms/step - loss: -7.2981 - accuracy: 0.5084
Epoch 81/150
35/35 [==============================] - 0s 1ms/step - loss: -7.3350 - accuracy: 0.5115
Epoch 82/150
35/35 [==============================] - 0s 1ms/step - loss: -8.1462 - accuracy: 0.4614
Epoch 83/150
35/35 [==============================] - 0s 1ms/step - loss: -8.6726 - accuracy: 0.4232
Epoch 84/150
35/35 [==============================] - 0s 1ms/step - loss: -8.3295 - accuracy: 0.4457
Epoch 85/150
35/35 [==============================] - 0s 1ms/step - loss: -7.4844 - accuracy: 0.5082
Epoch 86/150
35/35 [==============================] - 0s 1ms/step - loss: -7.6583 - accuracy: 0.4829
Epoch 87/150
35/35 [==============================] - 0s 1ms/step - loss: -7.3590 - accuracy: 0.4998
Epoch 88/150
35/35 [==============================] - 0s 2ms/step - loss: -7.5664 - accuracy: 0.4979
Epoch 89/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7390 - accuracy: 0.4909
Epoch 90/150
35/35 [==============================] - 0s 1ms/step - loss: -7.0875 - accuracy: 0.5308
Epoch 91/150
35/35 [==============================] - 0s 1ms/step - loss: -7.6135 - accuracy: 0.4775
Epoch 92/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8652 - accuracy: 0.4804
Epoch 93/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8267 - accuracy: 0.4786
Epoch 94/150
35/35 [==============================] - 0s 1ms/step - loss: -7.5703 - accuracy: 0.4887
Epoch 95/150
35/35 [==============================] - 0s 1ms/step - loss: -7.6724 - accuracy: 0.4792
Epoch 96/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7950 - accuracy: 0.4833
Epoch 97/150
35/35 [==============================] - 0s 1ms/step - loss: -8.2239 - accuracy: 0.4569
Epoch 98/150
35/35 [==============================] - 0s 1ms/step - loss: -7.3493 - accuracy: 0.5163
Epoch 99/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8482 - accuracy: 0.4833
Epoch 100/150
35/35 [==============================] - 0s 1ms/step - loss: -7.3249 - accuracy: 0.5137
Epoch 101/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7336 - accuracy: 0.4909
Epoch 102/150
35/35 [==============================] - 0s 1ms/step - loss: -7.5929 - accuracy: 0.4905
Epoch 103/150
35/35 [==============================] - 0s 1ms/step - loss: -7.5319 - accuracy: 0.5045
Epoch 104/150
35/35 [==============================] - 0s 1ms/step - loss: -8.1336 - accuracy: 0.4615
Epoch 105/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8226 - accuracy: 0.4832
Epoch 106/150
35/35 [==============================] - 0s 1ms/step - loss: -7.2207 - accuracy: 0.5149
Epoch 107/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7878 - accuracy: 0.4871
Epoch 108/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8921 - accuracy: 0.4755
Epoch 109/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8584 - accuracy: 0.4824
Epoch 110/150
35/35 [==============================] - 0s 1ms/step - loss: -7.3140 - accuracy: 0.5190
Epoch 111/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7562 - accuracy: 0.4839
Epoch 112/150
35/35 [==============================] - 0s 1ms/step - loss: -8.0776 - accuracy: 0.4689
Epoch 113/150
35/35 [==============================] - 0s 1ms/step - loss: -8.0207 - accuracy: 0.4508
Epoch 114/150
35/35 [==============================] - 0s 1ms/step - loss: -8.2484 - accuracy: 0.4556
Epoch 115/150
35/35 [==============================] - 0s 1ms/step - loss: -7.6641 - accuracy: 0.4825
Epoch 116/150
35/35 [==============================] - 0s 1ms/step - loss: -7.9726 - accuracy: 0.4724
Epoch 117/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7293 - accuracy: 0.4880
Epoch 118/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8296 - accuracy: 0.4857
Epoch 119/150
35/35 [==============================] - 0s 1ms/step - loss: -7.4093 - accuracy: 0.5133
Epoch 120/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7237 - accuracy: 0.4900
Epoch 121/150
35/35 [==============================] - 0s 1ms/step - loss: -7.9980 - accuracy: 0.4696
Epoch 122/150
35/35 [==============================] - 0s 1ms/step - loss: -7.0656 - accuracy: 0.5297
Epoch 123/150
35/35 [==============================] - 0s 1ms/step - loss: -7.6117 - accuracy: 0.5002
Epoch 124/150
35/35 [==============================] - 0s 1ms/step - loss: -7.5114 - accuracy: 0.4978
Epoch 125/150
35/35 [==============================] - 0s 1ms/step - loss: -7.4039 - accuracy: 0.5015
Epoch 126/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7626 - accuracy: 0.4872
Epoch 127/150
35/35 [==============================] - 0s 1ms/step - loss: -7.9511 - accuracy: 0.4726
Epoch 128/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8050 - accuracy: 0.4872
Epoch 129/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7653 - accuracy: 0.4892
Epoch 130/150
35/35 [==============================] - 0s 1ms/step - loss: -6.9226 - accuracy: 0.5372
Epoch 131/150
35/35 [==============================] - 0s 1ms/step - loss: -7.2018 - accuracy: 0.5129
Epoch 132/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7980 - accuracy: 0.4848
Epoch 133/150
35/35 [==============================] - 0s 1ms/step - loss: -7.9641 - accuracy: 0.4765
Epoch 134/150
35/35 [==============================] - 0s 1ms/step - loss: -7.1859 - accuracy: 0.5240
Epoch 135/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8228 - accuracy: 0.4765
Epoch 136/150
35/35 [==============================] - 0s 1ms/step - loss: -8.1421 - accuracy: 0.4623
Epoch 137/150
35/35 [==============================] - 0s 1ms/step - loss: -8.0567 - accuracy: 0.4694
Epoch 138/150
35/35 [==============================] - 0s 1ms/step - loss: -7.4331 - accuracy: 0.5110
Epoch 139/150
35/35 [==============================] - 0s 1ms/step - loss: -7.3918 - accuracy: 0.5139
Epoch 140/150
35/35 [==============================] - 0s 1ms/step - loss: -8.1345 - accuracy: 0.4654
Epoch 141/150
35/35 [==============================] - 0s 1ms/step - loss: -7.8517 - accuracy: 0.4822
Epoch 142/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7356 - accuracy: 0.4880
Epoch 143/150
35/35 [==============================] - 0s 1ms/step - loss: -8.4538 - accuracy: 0.4444
Epoch 144/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7650 - accuracy: 0.4844
Epoch 145/150
35/35 [==============================] - 0s 1ms/step - loss: -7.4891 - accuracy: 0.5057
Epoch 146/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7235 - accuracy: 0.4929
Epoch 147/150
35/35 [==============================] - 0s 1ms/step - loss: -7.1731 - accuracy: 0.5274
Epoch 148/150
35/35 [==============================] - 0s 2ms/step - loss: -8.1731 - accuracy: 0.4608
Epoch 149/150
35/35 [==============================] - 0s 1ms/step - loss: -7.7294 - accuracy: 0.4909
Epoch 150/150
35/35 [==============================] - 0s 1ms/step - loss: -7.5808 - accuracy: 0.4948